discord.txt
document.aux
document.txt
document.pdf
document.synctex.gz
docuemnt.tex
outfile.aux
outfile.txt
outfile.synctex.gz
outfile.tex
secrets.py
discord.log
document.log
outfile.pdf
__pycache__/
outfile.log
document.tex
inc_raw/
inc_tex/
images/
.idea/
test.db
tutorial.db
words.txt